<!-- One page of a post's comments - rendered by forum.views.forum_comments_view
     and fetched/appended by the comment section script in
     templates/forum/index.html. Never rendered as a full page. -->
{% load forum_extras %}
{% for c in comments %}
<div class="comment-item" id="comment-{{ c.id }}">
  <div class="comment-meta">
    <a href="{% url 'user_profile' c.author.username %}" title="View {{ c.author.username }}'s profile">
      {% if c.author.profile_picture %}<img src="{{ c.author.profile_picture.url }}" alt="" class="comment-avatar">{% endif %}
    </a>
    <a href="{% url 'user_profile' c.author.username %}" class="comment-author">{{ c.author.username }}</a>
    <span class="comment-date">{{ c.created_at|date:"m/d/Y g:i A" }}</span>
    {% include "_dots_menu.html" with target_type="comment" target_id=c.id post_id=post_id show_delete_comment=c.author_id|eq:user.id|or_:can_delete_comments show_report=c.author_id|ne:user.id show_share_comment=True show_copy=True %}
  </div>
  <div class="comment-body">{{ c.body|redact_for_viewer:can_delete_comments|linkify_mentions|safe }}</div>
</div>
{% endfor %}
{% if has_more %}
<button type="button" class="comment-load-more" data-post="{{ post_id }}" data-offset="{{ next_offset }}">[ + ] Load 5 more</button>
{% endif %}
